@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-alert ">
    <h1 class="display-4">Segurança e Credibilidade</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Seus pertences em boas mãos</a>.</p>
</div>
