@model ICollection<ProvaDs2.Models.Compartimento>
 
<h2>Meus compartimentos</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Número</th>
      <th scope="col">Tamanho</th>
      <th scope="col">Disponível</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NumeroId</td>
            <td>@item.Tamanho</td>
            <td>@item.Disponivel</td>
            <td>
                <form method="post" asp-controller="Compartimentos" asp-action="Desalocar">
                    <input type="hidden" name="compartimentoid" value="@item.NumeroId">
                    <input type="text" name="CPF" placeholder="Meu CPF">
                    <button type="submit" class="btn btn-primary">Desalocar</button>
                </form>
            </td>
        </tr>
    }
  </tbody>
</table>

